* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utility CSS */
.flx-cntr {
  display: flex;
  align-items: center;
}

.txt-col-black, .txt-col-black:hover {
  color: #000;
}

.txt-col-white, .txt-col-white:hover {
  color: #FFF;
}
/* / Utility CSS */

/* CONTENITORE PRINCIPALE */
.wrapper {
  width: 100vw;
  max-width: 100%;
  background: #FFF;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.wrapper a {
  text-decoration: none;
}
/* / CONTENITORE PRINCIPALE */

/* INTESTAZIONE */
header {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.container {
  margin: auto;
  max-width: 1400px;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

.container li {
  list-style: none;
}

.container a {
  text-decoration: none;
  color: #B2B4B6;
}

.container a:hover {
  color: #33383D;
}

.title>*, .menu-links, .menu-links>*, .btn {
  margin: 0 15px;
}

/* Logo-side */
.title img {
  max-height: 45px;
}
/* / Logo-side */

/* Navmenu-side */
.section-menu {
  display: none;
  position: absolute;
  top: 90%;
  padding: 10px;
  line-height: 3em;
  background: #FFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.section-menu.first {
  left: 50%;
}

.section-menu>ul>li {
  width: 100%;
  margin: 0 15px;
}

.section-menu-title {
  text-transform: uppercase;
  font-size: 0.45em;
  margin-bottom: 15px;
  opacity: 0.5;
}

.section-menu-title>img {
  max-width: 20px;
  margin-right: 10px;
}

.section-menu.active {
  display: flex;
}

.btn {
  background: #ccc;
  border-radius: 15px;
  padding: 15px;
}

.btn.gray {
  background: #E5E7E9;
}

.btn.black {
  background: #000;
}
/* / Navmenu-side */
/* / INTESTAZIONE */
