* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flx {
  display: flex;
  align-items: center;
}

header.flx {
  width: 850px;
  margin: auto;
  justify-content: space-between;
}

.title img {
  max-height: 70px;
}

.nav-menu li{
  list-style: none;
  padding-left: 15px;
}

.section-menu {
  display: none;
  padding: 80px;
  border: 1px solid #000;
}
